#################
### GDOv7-Core ###
#######################
# All rights rerserved #
#######################

# Eclipse
.buildpath
.project
.settings/
/eclipse/

# PHPStorm
.idea/

# Web3.0
.well-known/
favicon.*
.htaccess
.htpasswd

# Composer
vendor/

# PHPUnit
.phpunit.result.cache

# Yarn
**/node_modules/
**/yarn.lock
**/yarn-error.log

# Bower
**/bower_components/

# Various
hax.php
/secret/

# GDO
assets/
files/
files_test/
protected/
temp/
temp_test/

# Installer
install/*
!install/gdo-install.css
!install/wizard.php

# Core modules
GDO/*
!GDO/Admin/
!GDO/CLI/
!GDO/Core/
!GDO/Crypto/
!GDO/Date/
!GDO/DB/
!GDO/Form/
!GDO/Install/
!GDO/Language/
!GDO/Net/
!GDO/Perf/
!GDO/Table/
!GDO/Tests/
!GDO/UI/
!GDO/User/
!GDO/Util/
