/** GDOv7 normalizer **/
*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

span, img, a, i, b, em {
    display: inline-block;
}

p {
    word-break: break-word;
}

*[background-image] {
    background-size: cover;
}

div.gdt-submit {
    position: relative;
    flex-grow: 0;
    pointer-events: auto;
}
/*div.gdt-submit span {*/
    /*position: absolute;*/
    /*left: 8px;*/
    /*top: 0px;*/
/*}*/
div.gdt-submit input {
    padding-left: 4px;
    background: transparent;
    border: none;
    text-align: left;
}
div.gdt-submit:hover {
    cursor: pointer!important;
}
.gdt-button a {
    width: 100%;
}

.cf:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

.ce {
    text-align: center;
    margin: auto;
}

.b {
    display: block;
}

.ib {
    display: inline-block;
}

.n {
    display: none !important;
}

.ce {
    text-align: center;
    margin: 8px auto;
}

.cb {
    clear: both;
}

.dn {
    display: none;
}

.dc {
    display: none;
}

.gdt-table td.gdt-num.gdt-user {
    text-align: left;
}

.ri {
    text-align: right;
    float: right;
}

.ri:after, .fr:after, .fl:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.bw {
    word-break: break-word;
}

/** Basic flex **/
.flx {
    display: flex;
}

.flx-wrap {
    flex-wrap: wrap;
}

.flx-row {
    flex-direction: row;
    width: 100%;
}

.flx-col {
    flex-direction: column;
}

.flx > * {
    flex: 1 1 auto;
}

.flx.flx-shrink > * {
    flex: 0 1 auto;
}

.flx-row > * {
    align-self: center;
}

/** Basic UI components **/
div.gdt-hr {
    height: 2px;
    width: 100%;
    background: #eee;
    margin: 8px 0;
}

.gdt-captcha > span > input[type=text] {
    vertical-align: top;
}

/** GDT_Dialog **/
.gdo-dialog-inner {
    display: flex;
    flex-direction: column;
}

.gdo-dialog-fields {
    flex: 1 1 auto;
}

/** Table **/
div.gdt-table {
    flex: 1 1 auto;
}

td span {
    display: inline;
}

/** Errors **/
.gdo-exception {
    text-align: left;
    word-break: break-all;
}

.gdo-exception em {
    font-style: normal;
}

.gdt-tblorder {
    display: inline-block;
}

/** Flags **/
img.gdo-country,
img.gdo-language {
    width: 32px;
    border: 1px solid #555;
}

.gdt-image,
.gdt-image img {
    max-width: 100%;
}
